@model HelthSystem.ViewModels.UserVM.DetailsUserVM

@{
    DataAccess.Repo.DoctorRepo doctorRepo = new DataAccess.Repo.DoctorRepo();
    Doctor logedDoctor = doctorRepo.GetById(HelthSystem.Models.AuthenticationManager.LoggedUser.Id);
    string password = "";
}

<h2>Profile Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        @foreach (var item in Model.Password.ToCharArray())
        {
            password += "⚫";
        }

        <dd>
            @password
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        @if (logedDoctor != null)
        {
            <dt>
                Specialization:
            </dt>

            <dd>
                @logedDoctor.Position
            </dd>
            <dt>
                Description
            </dt>

            <dd>
                @logedDoctor.Description
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back", "Index")
</p>
